/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  padding-top: 40px;
}

body,
article#next,
article h2
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2P4//+/MBQzgDAICEMxXAAMYCoRIlCVANL6FYTYi5d+AAAAAElFTkSuQmCC);
}

* {
  font-family: 'Inconsolata', sans-serif;
}

#navbar {
  background-color: black;
}


header {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

article h2 {
  color: white;
  margin: 0;
  padding: 0 25px;
  line-height: 100px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

article h2 a {
  color: inherit;
}
@-moz-keyframes charlieeee {
  from { background-position:top left; } 
  to {background-position:top right; }
}
@-webkit-keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
@-o-keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
@-ms-keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
@-khtml-keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
@keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}

article h2 {
  background-image:-webkit-linear-gradient( left, red, orange, yellow, green,
                                          blue, indigo, violet, indigo, blue,
                                          green, yellow, orange, red );
  background-image:-moz-linear-gradient( left, red, orange, yellow, green,
                                         blue,indigo, violet, indigo, blue,
                                         green, yellow, orange,red );
  background-image:-o-linear-gradient( left, red, orange, yellow, green,
                                         blue,indigo, violet, indigo, blue,
                                         green, yellow, orange,red );
  background-image:-ms-linear-gradient( left, red, orange, yellow, green,
                                         blue,indigo, violet, indigo, blue,
                                         green, yellow, orange,red );
  background-image:-khtml-linear-gradient( left, red, orange, yellow, green,
                                         blue,indigo, violet, indigo, blue,
                                         green, yellow, orange,red );
  background-image:linear-gradient( left, red, orange, yellow, green,
                                         blue,indigo, violet, indigo, blue,
                                         green, yellow, orange,red );
  -moz-animation:charlieeee 25s forwards linear infinite;
  -webkit-animation:charlieeee 25s forwards linear infinite;
  -o-animation:charlieeee 25s forwards linear infinite;
  -khtml-animation:charlieeee 25s forwards linear infinite;
  -ms-animation:charlieeee 25s forwards linear infinite;
  -lynx-animation:charlieeee 25s forwards linear infinite;
  animation:charlieeee 25s forwards linear infinite;
  background-size:50% auto;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

article#next h2 {
  /*background-color: #0058c5;*/
}

article#where h2 {
  /*background-color: #de2917;*/
}

article#previous h2 {
  /*background-color: #7C920F;*/
}

article#speakers h2 {
  /*background-color: #0C3C78;*/
}

article#beers h2 {
  /*background-color: #657806;*/
}

article#next {
  background-color: whitesmoke;
  margin: 0;
  text-align: justify;
}

article#next h2,
article#where h2
{
  margin-top: 0 !important;
}

article#next .avatar {
  width: 131px;
  margin: auto;
  display: block;
  margin-top: 20%;
  border: solid 1px #CCC;
  background: white;
}

article#next .eventbrite {
  float: right;
}

#next p {
  padding-right: 25px;
}


article#where > iframe {
  margin: 0;
}

article#speakers .row-fluid {
  padding: 2px 0;
}

article#speakers img {
  padding-left: 0px;
  display: inline-block;
  width: 210px;
}

#beers p {
  padding: 0 25px;
}

