/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body,
article.next,
article h2
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2P4//+/MBQzgDAICEMxXAAMYCoRIlCVANL6FYTYi5d+AAAAAElFTkSuQmCC);
}

* {
  font-family: 'Inconsolata', sans-serif;
}


header {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

article > *{
  margin: 0 25px;
}

article h2 {
  color: white;
  margin: 0;
  padding: 0 25px;
  line-height: 100px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

article.next h2 {
  background-color: #0058c5;
}

article.where h2 {
  background-color: #de2917;
}

article.previous h2 {
  background-color: #7C920F;
}

article.speakers h2 {
  background-color: #0C3C78;
}

article.beers h2 {
  background-color: #657806;
}

article.next {
  background-color: whitesmoke;
  margin: 0;
  text-align: justify;
}

article.next h2,
article.where h2
{
  margin-top: 0 !important;
}

article.next .avatar {
  width: 210px;
  margin: auto;
  display: block;
  margin-top: 15%;
  border: solid 1px #CCC;
  background: white;
}

article.next .eventbrite {
  float: right;
}

article.where > iframe {
  margin: 0;
}

article.speakers ul {
  list-style-type: none;
  margin: 0 25px;
}

article.speakers li {
  clear: both;
  margin-top: 25px;
  margin-bottom: 25px;
}

article.speakers li > img {
  float: left;
  padding-left: 0px;
  display: inline-block;
  width: 210px;
}

article.speakers li > * {
  padding-left: 235px;
}


article.love h2 {
  background-color: #fe57a1;
  margin-bottom: 0;
}









