.title {
  font-size: 1.5rem;
}

.container {
  display: grid;
  margin-top: 60px;
  gap: 24px;
}

.description p:not(:first-child) {
  margin-top: 1rem;
}

.date {
  display: flex;
  align-items: center;
  line-height: 1.2;
  gap: 6px;
}

.date {
  font-size: 0.875rem;
}

.date svg {
  width: 1.2em;
}

.sideContent {
  display: none;
}

.image {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 230px;
  }

  .sideContent {
    display: block;
  }

  .image {
    height: 120px;
  }
}

.replays {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.replays iframe {
  display: block;
  aspect-ratio: 16/9;
}

.imageCollection {
  grid-column: 1 / 3;
}

.listImages {
  display: flex;
  gap: 2rem;
  width: auto;
  overflow: scroll;
  align-items: center;
}

.listImages img {
  display: block;
  min-width: 300px;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
