.title {
  font-size: 1.5rem;
}

.container {
  display: grid;
  margin-top: 60px;
  grid-template-columns: 1fr;
}

.description p:not(:first-child) {
  margin-top: 1rem;
}

.date {
  display: flex;
  align-items: center;
  line-height: 1.2;
  gap: 6px;
}

.date {
  font-size: 0.875rem;
}

.date svg {
  width: 1.2em;
}

.sideContent {
  display: none;
}

.image {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 230px;
    gap: 24px;
  }

  .sideContent {
    display: block;
  }

  .image {
    height: 120px;
  }
}

.replays {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.replayLink {
  color: var(--main-color);
  text-decoration: none;
}

.replayLink:hover {
  text-decoration: underline;
}

.replaySpeakers {
  color: var(--font-color-default);
}
