.title {
  font-size: 1.5rem;
}

.container {
  display: grid;
  margin-top: 60px;
  grid-template-columns: 1fr;
}

.description p:not(:first-child) {
  margin-top: 1rem;
}

.date {
  display: flex;
  align-items: center;
  line-height: 1.2;
  gap: 6px;
}

.date {
  font-size: 0.875rem;
}

.date svg {
  width: 1.2em;
}

.sideContent {
  display: none;
}

.image {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 230px;
    gap: 24px;
  }

  .sideContent {
    display: block;
  }

  .image {
    height: 120px;
  }
}

.replays {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.replays iframe {
  display: block;
  aspect-ratio: 16/9;
}

.imageCollection {
  grid-column: 1 / 2;
}

.lists ul {
  display: grid;
  gap: 1rem;
  list-style: none;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: 180px;
}

@media screen and (min-width: 768px) {
  .lists ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .imageCollection {
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 1024px) {
  .lists ul {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.imageContainer {
  border: none;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.imageContainer:focus {
  outline-offset: 2px;
}

.imageContainer > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
