.imageCollection {
  grid-column: 1 / 2;
}

.lists ul {
  display: grid;
  gap: 1rem;
  list-style: none;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-rows: 180px;
}

@media screen and (min-width: 768px) {
  .lists ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .imageCollection {
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 1024px) {
  .lists ul {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1920px) {
  .lists ul {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
