.navigation {
  border-bottom: 1px solid var(--border-strong);
  margin-bottom: 24px;
}

.list {
  display: flex;
  align-items: center;
  margin-top: 56px;
  padding-bottom: 12px;
  font-weight: 700;
  list-style: none;
  gap: 20px;
  overflow: auto;
  scroll-snap-type: x proximity;
  color: var(--font-color-strong);
}

.list li {
  scroll-snap-align: start;
}

.list li + li::before {
  content: '·';
  margin-right: 20px;
  opacity: 0.5;
}

.link[aria-current='page'] {
  color: var(--main-color);
}
