.container {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
}

.slotCard {
  background-color: var(--background-card);
  padding: 2.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.slotCard h2 {
  margin: 1.5rem 0 0.5rem;
  text-align: center;
  text-decoration: none;
}
