.title {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 90px;
  gap: 24px;
}

.description {
  font-size: 1rem;
  font-weight: 400;
}

.description p:not(:first-child) {
  margin-top: 1rem;
}

.image {
  display: block;
  height: auto;
  aspect-ratio: 16 / 9;
}

.date {
  display: flex;
  align-items: center;
  line-height: 1.2;
  gap: 6px;
}

.date {
  font-size: 0.875rem;
}

.date svg {
  width: 1.2em;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .image {
    height: 120px;
  }
}
