.link {
  padding: 0.75em;
  display: inline-flex;
  border-radius: 50%;
  color: var(--font-color-default);
  transition: background-color 100ms, color 100ms;
}

@media (hover: hover) {
  .link:hover {
    color: var(--main-color);
    background-color: rgba(255, 255, 255, 0.08);
  }
}

.link:focus-visible {
  color: var(--main-color);
  background-color: rgba(255, 255, 255, 0.08);
}

@media (min-width: 900px) {
  .link {
    padding: 0.5em;
  }
}
