.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-strong);
  font-weight: bold;
  margin-top: 5rem;
  padding: 2rem;
  border-top: 1px solid transparent;
  border-image: linear-gradient(0.25turn, transparent, var(--border-strong), transparent) 1;
}

.links {
  display: flex;
  align-items: center;
  gap: 24px;
}
