.button {
  border-radius: 0.375em;
  display: inline-flex;
  align-items: center;
  gap: 0.625em;
  padding: 0.75em 1.25em;
  transition: background-color 100ms;
  font-weight: 500;
  white-space: nowrap;
}

.primary {
  background-color: var(--main-color);
  color: var(--background-page);
}

.primary:hover {
  background-color: var(--main-color-dark);
}

.secondary {
  color: var(--font-color-strong);
  background-color: var(--background-button);
}

.secondary:hover {
  background-color: var(--background-button-hover);
}

.secondary:active {
  background-color: var(--background-button-active);
}
