.list {
  list-style: square;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

.paragraph {
  margin-block: 1rem;
}

h3 + .paragraph {
  margin-top: 0;
}

.link {
  color: var(--main-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
