.list {
  list-style: square;
  color: var(--font-color-default);
  padding: 1rem 2rem;
}

.paragraph {
  font-size: 16px;
  color: var(--font-color-default);
  line-height: 1.5rem;
}

.link {
  color: var(--main-color);
  text-decoration: none;
}
