.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

@media (max-width: 1200px) {
  .navbar,
  .socialLinks {
    display: none !important;
  }

  .header {
    justify-content: center;
  }
}
