.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

@media (max-width: 900px) {
  .navbar,
  .socialLinks {
    display: none !important;
  }

  .headerContainer {
    justify-content: center;
  }
}
