.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* for the picture */
  padding-top: 40px;

  background-image: radial-gradient(ellipse 50% 50% at 50% 60%, hsl(var(--yellow-0-hsl) / 0.08), transparent);

  /* allow the gradient to spill out of the section on large screens
  without overflow issue and with no layout change */
  --spill-sides: calc((98vw - 100%) / 2);
  --spill-bottom: 90px;
  padding: 40px var(--spill-sides) var(--spill-bottom);
  margin: 0 calc(-1 * var(--spill-sides)) calc(-1 * var(--spill-bottom));
}

.leftContainer {
  display: flex;
  flex-direction: column;
}

.hero img {
  max-width: min(720px, 80vw);
  margin-right: -30%;
}

@media (min-width: 600px) {
  .hero {
    padding-top: 90px;
  }

  .hero p {
    font-size: 1.5rem;
  }

  .leftContainer {
    align-items: flex-start;
  }
}

@media (min-width: 900px) {
  .hero {
    flex-direction: row;
    background-image: radial-gradient(ellipse 800px 50% at 60% 50%, hsl(var(--yellow-0-hsl) / 0.08), transparent);
  }
}
