.container {
  --image-width: 300px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
  color: var(--white-0);
}

.description address {
  display: inline;
  font-style: italic;
}

.description time {
  font-weight: 600;
}

.image {
  display: none;
}

.cta {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .description {
    margin-left: calc(var(--image-width) + 2rem);
  }

  .image {
    display: block;
    position: absolute;
    top: -3rem;
    left: 2rem;
    bottom: 1rem;
    max-width: var(--image-width);
    height: auto;
    max-height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 0.5rem;
  }

  .cta {
    justify-content: flex-end;
    right: 5rem;
  }
}
