.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
  color: var(--white-0);
}

.description address {
  display: inline;
  font-style: italic;
}

.description time {
  font-weight: 600;
}

.cta {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .cta {
    justify-content: flex-end;
    right: 5rem;
  }
}
