.header {
  position: absolute;
  top: -6rem;
  left: 1rem;
}

.container {
  --image-width: 400px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
  color: var(--white-0);
}

.description address {
  display: inline;
  font-style: italic;
}

.description time {
  font-weight: 600;
}

.image {
  display: none;
}

@media screen and (min-width: 768px) {
  .description {
    margin-left: calc(var(--image-width) - 1rem);
  }

  .image {
    display: block;
    position: absolute;
    top: -3rem;
    left: 2rem;
    bottom: 1rem;
    max-width: var(--image-width);
    height: auto;
    max-height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 0.5rem;
  }

  .header {
    left: calc(var(--image-width) + 1rem);
  }
}
