.socialsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  justify-content: center;
  padding-top: 4rem;
  gap: 0;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .socialsContainer {
    gap: 24px;
  }
}
