.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitle::after {
  content: none;
}

.secondaryTitle {
  margin-block: 100px 70px;
}

.seePastEvents {
  margin-top: 50px;
  display: flex;
  width: fit-content;
  margin-inline: auto;
}
