.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondaryTitle {
  margin-block: 100px 70px;
}

.seePastEvents {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

@media (min-width: 900px) {
  .seePastEvents {
    margin-top: 50px;
  }
}
