.grid {
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  justify-content: center;
  gap: min(2vw, 16px);
}

.grid img {
  display: block;
  width: min(40vw, 250px);
  aspect-ratio: 250 / 150;
  object-fit: cover;
}

.grid a {
  border-radius: min(2vw, 12px);
}
