.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
  margin-top: 56px;
}

.description {
  color: var(--font-color-default);
  text-align: center;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  color: var(--font-color-strong);
}

.person img {
  border-radius: 50%;
  margin-bottom: 16px;
}

.person .socials {
  display: flex;
  gap: 4px;
}
