.navigation {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 24px;
}

.list {
  display: flex;
  margin-top: 56px;
  padding-bottom: 12px;
  font-weight: 700;
  list-style: disc outside;
  gap: 20px;
  overflow: auto;
  scroll-snap-type: x proximity;
  color: var(--font-color-strong);
}

.list li {
  scroll-snap-align: start;
}

.list li:first-child {
  list-style: none;
}

.separator {
  padding: 0 5px;
}
