@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-0: #0c0c0d;
  --yellow-0: hsl(var(--yellow-0-hsl));
  --yellow-0-hsl: 52 83% 62%;
  --yellow-1: hsl(52, 100%, 42%);
  --white-0: #ffffff;
  --white-1: #cccccc;
  --white-2: #b2b2b2;

  --background-color: var(--grey-0);
  --background-card: #141415;
  --main-color: var(--yellow-0);
  --main-color-dark: var(--yellow-1);
  --font-color-strong: var(--white-0);
  --font-color-default: var(--white-1);
  --border-color: var(--white-2);
}

body {
  background-color: var(--background-color);
  color: var(--font-color-default);
}

main,
footer,
#__next > header {
  padding: 8px 20px;
  max-width: 1200px;
  margin: auto;
}

.highlight {
  display: inline;
  padding: 0.25em 0;
  background: var(--main-color);
  color: var(--background-color);
  box-shadow: 0.5em 0 0 var(--main-color), -0.5em 0 0 var(--main-color);
}

button,
a,
[tabindex='0'] {
  -webkit-tap-highlight-color: transparent;
}

[data-lock-scroll] {
  overflow: hidden !important;
}
