@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-0: #0c0c0d;
  --yellow-0: hsl(var(--yellow-0-hsl));
  --yellow-0-hsl: 52 83% 62%;
  --yellow-1: hsl(52, 100%, 42%);
  --white-0: #ffffff;
  --white-1: #cccccc;
  --white-2: #b2b2b2;

  --background-color: var(--grey-0);
  --background-card: #141415;
  --background-card-hover: #18181b;
  --main-color: var(--yellow-0);
  --main-color-dark: var(--yellow-1);
  --font-color-strong: var(--white-0);
  --font-color-default: var(--white-1);
  --border-color: var(--white-2);
}

html {
  color-scheme: dark;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--font-color-default);
  overflow-y: scroll; /* avoid layout shift on pages that don't scroll */
}

#__next {
  display: grid;
  grid-template: auto 1fr auto / 100%;
  width: min(90%, 1100px);
  margin-inline: auto;
}

button,
a,
[tabindex='0'] {
  -webkit-tap-highlight-color: transparent;
}

[data-lock-scroll] {
  overflow: hidden !important;
}
