.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  gap: min(2vw, 16px);
}

.sponsors a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(40vw, 200px);
  aspect-ratio: 250 / 150;
  background-color: var(--background-card);
  border-radius: min(2vw, 12px);
  transition:
    background-color 100ms,
    border-color 100ms;
  border: 1px solid transparent;
}

.sponsors a:hover {
  background-color: var(--background-card-hover);
  border-color: var(--border-light);
}

.sponsors img {
  max-height: min(14vw, 80px);
  max-width: 75%;
}

.sponsorAction {
  margin-top: 2em;
}
