.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  gap: 16px;
}

.sponsors a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 250px;
  background-color: var(--background-card);
  border-radius: 12px;
  transition: background-color 100ms, border-color 100ms;
  border: 1px solid transparent;
}

.sponsors a:hover {
  background-color: var(--background-card-hover);
  border-color: var(--border-light);
}

.sponsors a img {
  max-height: 80px;
}
